.association {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 25%;
    background: rgb(127, 216, 243);
    margin-top: 2rem;
    padding: 1rem; /* Adiciona padding para espaçamento interno */
    box-sizing: border-box; /* Garante que padding seja incluído na largura */
}

.members {
    display: flex;
    flex-direction: column;
    background: #ccc;
    margin-top: 0.5rem; /* Adiciona espaçamento entre os membros */
    padding: 0.5rem; /* Adiciona padding para espaçamento interno */
    width: 100%; /* Garante que os membros ocupem toda a largura da associação */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
    padding: 1rem;
}
