/* Sidebar.css */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #333;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .hamburger {
    background-color: #333;
    position: absolute;
    top: 1.2rem;
    right: -2.5rem;
    cursor: pointer;
    padding: 1rem 0.5rem 1rem 2rem;
    border-radius: 0% 30% 30% 0%;
  }
  
  .hamburger .line {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 0.20rem 0;
    transition: all 0,3 ease;
  }

  .hamburger .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line.open:nth-child(2) {
    opacity: 0;
}

.hamburger .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

  
  .menu {
    margin-top: 3rem;
    margin-left: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #ff9f1c;
  }

  
  