.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}

.form-group input[type="text"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button[type="button"] {
    margin-left: 10px;
    background-color: #f44336;
}

button[type="button"]:hover {
    background-color: #e41e1e;
}

h3 {
    margin-bottom: 15px;
    color: #444;
}

.HeaderParticipantes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0 2rem;

}

.HeaderParticipantes h3{   
color: #fff;
}

.ContainerParticipantes{
    border: solid 1px #333;
    

}