.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 3%;
  transition: transform 0.3s ease;
}

.content.open{
  margin-left: 15%;
  transform: scaleX(95%);
}